.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.571);
}
.inputBox {
  position: relative;
  width: 350px;
}
.inputBox input {
  position: relative;
  width: 100%;
  padding: 10px, 0;
  background: transparent;
  border: none;
}
