.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.571);
}
.inputBox {
  position: relative;
  width: 350px;
}
.inputBox input {
  position: relative;
  width: 100%;
  padding: 10px, 0;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #999;
  color: #fff;
  font-size: 1.25em;
  transition: 0.5s;
}
.inputBox label {
  position: absolute;
  left: 0;
  padding: 10px, 0;
  pointer-events: none;
  color: #666;
  user-select: none;
}
.inputBox label span {
  position: relative;
  display: inline-block;
  flex-direction: row;
  font-size: 1.25em;
}
